<ion-view view-title="Login" name="dashboard-view">
<ion-nav-title><img src= "img/tessLogo.png"></ion-nav-title>
<ion-nav-bar class="bar-stable">


</ion-nav-bar>
  <ion-content class="padding">
    
    <br>
    <br>
    <br>
    <br>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" id="Username" placeholder="Enter your User ID" ng-model="data.username">
          </label>
      
          <label class="item item-input">
              <input type="password" id="Password" placeholder="Enter your Password" ng-model="data.password">
          </label>
      </div>

      <br>
      
      <button class="button button-block button-positive" ng-click="login()">Login</button>

<br>
<br>

    
 
     <div align="center"><img src= "img/DeloitteLogo.png"> </div>

    <div id="loading-bar-container"></div>
    
</ion-view>